@import "../../../global.scss";
* {
    font-family: lato;
}


.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
}

ion-card{
    height: 98%;
    padding:20px;
    background-color: rgb(194, 215, 228);
    transition: 0.3s;
  
}

h2{
    color: rgb(80, 86, 90);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    border-radius: 50%;
    width: 80%;
    height: 75%;
}

.imageBackground {
    padding: 10px;
    text-align: center;
}


