<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title class="header">Price Rates</ion-title>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/side-bar/settings']"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <ion-card>
            <ion-card-header><b>NANNY</b>
                <ion-card-subtitle>Hourly child services for your immediate needs.</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-img src="assets/images/nanny.jpg"></ion-img>
                <ion-card-content>
                    Minimum: 250 pesos for the first 90 minutes.<br>
                    Additional hours: 50 pesos / 30 minutes.

                </ion-card-content>
            </ion-card-content>
        </ion-card>
    </div>
    <div>
        <ion-card>
            <ion-card-header><b>HOUSEKEEPING</b>
                <ion-card-subtitle>Performing all the duties towards cleaning a house or a business property.
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-img src="assets/images/housekeeping.png"></ion-img>
                <ion-card-content>
                    Minimum: 250 pesos for the first 90 minutes.<br>
                    Additional hours: 50 pesos / 30 minutes.
                </ion-card-content>
            </ion-card-content>
        </ion-card>
    </div>
    <div>
        <ion-card>
            <ion-card-header><b>TUTOR CUM NANNY</b>
                <ion-card-subtitle> An hourly private teacher.</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-img src="assets/images/tutor.jpg"></ion-img>
                <ion-card-content>
                    Minimum: 325 pesos for the first 90 minutes.<br>
                    Additional hours: 75 pesos / 30 minutes.
                </ion-card-content>
            </ion-card-content>
        </ion-card>
    </div>
    <div>
        <ion-card>
            <ion-card-header><b>MASSAGE THERAPIST</b>
                <ion-card-subtitle>A trained and licensed professional that practices the manual, or hands-on, movement
                    of soft body tissues to enhance a person's well-being.</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-img src="assets/images/massage.jpg"></ion-img>
                <ion-card-content>
                    Minimum: 500 pesos per haircut.<br>
                    Additional hours: 150 pesos / 30 minutes.
                </ion-card-content>
            </ion-card-content>
        </ion-card>
    </div>
    <div>
        <ion-card>
            <ion-card-header><b>HAIRCUT</b>
                <ion-card-subtitle>Cuts hair shaves or trims beards</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-img src="assets/images/haircut.png"></ion-img>
                <ion-card-content>
                    Minimum: 250 pesos per haircut.
                </ion-card-content>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>