<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title class="header">Frequently Asked Questions</ion-title>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/side-bar/settings']"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-card>
            <ion-row>
                <ion-col>
                    <div class="num">
                        <h1>1</h1>
                    </div>
                </ion-col>
                <ion-col size="9.5">
                    <div>
                        <h4> How could I accept a job using MsQArtisan?</h4>
                        <p>To accept a job order in the app, click the job order details and you will be redirected to
                            another view showing the
                            full details of the job order. Click the Accept Job button if you want to proceed and Pass
                            button if you don't want to.
                            Then click the Start Service button if you decide to push through the job and always take
                            note of the schedule. You
                            could trace your accepted jobs in the Tracker Module > Accepted.</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-row>
                <ion-col>
                    <div class="num">
                        <h1>2</h1>
                    </div>
                </ion-col>
                <ion-col size="9.5">
                    <div>
                        <h4>Could I cancel an accepted job order?</h4>
                        <p>Once you clicked the Start Service button, you could not cancel it anymore. If you do not
                            want to start the job order,
                            click the Reject button and the job order will be stored in Tracker > Rejected. That job
                            will still be available for
                            other job seekers.</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-row>
                <ion-col>
                    <div class="num">
                        <h1>3</h1>
                    </div>
                </ion-col>
                <ion-col size="9.5">
                    <div>
                        <h4>What do I need to do after my job service?</h4>
                        <p>After the service, visit your Tracker module.
                            Go to Accepted and click the FINISH button. Your job service will be noted
                            and tracked as COMPLETED.</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-row>
                <ion-col>
                    <div class="num">
                        <h1>4</h1>
                    </div>
                </ion-col>
                <ion-col size="9.5">
                    <div>
                        <h4>Could I accept more than 1 job a day?</h4>
                        <p>Yes. You could accept as many jobs as you can but with different schedules. Also take note of
                            the location to ensure
                            that you could start the job order on time.</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-row>
                <ion-col>
                    <div class="num">
                        <h1>5</h1>
                    </div>
                </ion-col>
                <ion-col size="9.5">
                    <div>
                        <h4>How could I cash out my balance in MsQArtisan?</h4>
                        <p>To cash out your balance in the app, go to FINANCE > CASH OUT and click the GCash image.
                            Enter your GCash PIN and cash
                            out your available balance.</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-row>
                <ion-col>
                    <div class="num">
                        <h1>6</h1>
                    </div>
                </ion-col>
                <ion-col size="9.5">
                    <div>
                        <h4>What is the payment method of the app?</h4>
                        <p>After your service, it is the customers’ responsibility to cash in to your GCash account.
                            Just provide your account name
                            and number. Check your FINANCE > HISTORY if a cash-in reflects your account.</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-row>
                <ion-col>
                    <div class="num">
                        <h1>7</h1>
                    </div>
                </ion-col>
                <ion-col size="9.5">
                    <div>
                        <h4>I forgot my log-in password in my MsQArtisan account, how could I change it?</h4>
                        <p>To reset your MsQArtisan password, go to the Sign In Page > click Forgot Password. You will
                            be redirected to a view
                            asking for an email address and click submit. Visit the email address you provide. Click the
                            link sent to your email and
                            there you can reset your MsQArtisan Password.</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>
</ion-content>